// ------------------------------------------------------------------------ {{ Section: Variables }}
/* Responsive Design Breakpoints */
$media: (
	mobile "(max-width: 639px)",
	small "(min-width: 640px) and (max-width: 959px)",
	medium "(min-width: 960px) and (max-width: 1199px)",
	large "(min-width: 1200px) and (max-width: 1599px)",
	xlarge "(min-width: 1600px)"
);

// --------------------------------------------------------------------------- {{ Section: Mixins }}
/* Color Scheme: On the Sly (http://www.colourlovers.com/palette/2261749/On_the_Sly)
	#21252E
	#FAD42B
	#E42535
	#FFDCAC
	#21252E
*/
@mixin color-scheme($scheme) {
	@if $scheme == header {
		background-color: #21252E;
		color: rgba(255,255,255,0.625);
	} @else if $scheme == content-1 {
		background-color: #21252E;
		color: rgba(255,255,255,0.625);
	} @else if $scheme == content-2 {
		background-color: #FAD42B;
		color: rgba(0,0,0,0.625);
	} @else if $scheme == content-3 {
		background-color: #E42535;
		color: rgba(255,255,255,0.7);
	} @else if $scheme == content-4 {
		background-color: #FFDCAC;
		color: rgba(0,0,0,0.625);
	} @else if $scheme == footer {
		background-color: #21252E;
		color: rgba(255,255,255,0.625);
	}
}

/* Transitions Mixin */
@mixin transition($preset) {
	@if $preset == preset-1 {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

/* Cross-browser Calc Mixin */
@mixin calc($key, $value) {
	#{$key}: -webkit-calc(#{unquote($value)});
	#{$key}: -moz-calc(#{unquote($value)});
	#{$key}: -o-calc(#{unquote($value)});
	#{$key}: calc(#{unquote($value)});
}

/* Responsive Design Mixins */
@mixin respond-to($target) {
	@each $medium in $media {
		@if nth($medium, 1) == $target {
			@media #{nth($medium, 2)} {
				@content;
			}
		}
	}
}

@mixin responsive-key($key, $contents) {
	@each $content in $contents {
		@include respond-to(nth($content, 1)) {
			#{$key}: #{nth($content, 2)};
		}
	}
}

// -------------------------------------------------------------------- {{ Section: Global Styles }}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
	min-width: 480px;
	font: 300 16px "Roboto";
	@include color-scheme(content-1);
}

.fullwidth {
	width: 100%;
}

.fixedwidth {
	margin: auto;
	@include responsive-key(width, (mobile 480px,
		small 640px, medium 960px, large 1200px, xlarge 1600px));
	@include transition(preset-1);
}

.left {
	float: left;
}

.right {
	float: right;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	line-height: 50px;
	font-family: "Roboto Condensed";
	@include color-scheme(header);
	@include transition(preset-1);
	z-index: 100;

	#header-logo {
		font-size: 120%;
	}

	a {
		display: inline-block;
		@include color-scheme(header);
		padding: 0px 15px;
		text-transform: uppercase;
	}

	a:hover {
		background: rgba(255,255,255,0.1);
	}
}

#header:hover {
	height: 75px;
	line-height: 75px;
}

#sponsors, #applicants, #accounts, #scholarships, #sponsors-profile, #applicants-profile {
	#content {
		padding: 50px 0px 0px 0px;

		.content-section {
			position: relative;
			@include transition(preset-1);

			.fixedwidth {
				position: relative;
			}

			.title {
				position: absolute;
				top: 70px;
				width: 100%;
				font-family: "Roboto Condensed";
				font-size: 400%;
				text-align: center;
				text-transform: uppercase;
				@include responsive-key(top, (mobile 30px, small 50px));
				@include responsive-key(font-size, (mobile 200%, small 250%));
				@include transition(preset-1);
			}

			.title.left {
				left: 15%;
			}

			.title.right {
				right: 15%;
			}

			.desc {
				position: absolute;
				top: 170px;
				font-size: 250%;
				@include responsive-key(top, (mobile 80px, small 110px));
				@include responsive-key(font-size, (mobile 100%, small 150%, medium 200%));
				@include transition(preset-1);
			}

			.desc.left {
				left: 20%;
			}

			.desc.right {
				right: 20%;
			}

			a:hover {
				border-bottom: 1px dotted rgba(128,128,128,0.5);
			}
		}

		.content-section.section-1 {
			height: 200px;
			@include responsive-key(height, (mobile 100px, small 140px));
		}

		.content-section.section-2 {
			position: relative;
			@include color-scheme(content-4);
			text-align: center;
			padding: 50px 0px 20px 0px;
			font-size: 200%;
			@include responsive-key(padding, (mobile "20px 0px 5px 0px",
				small "30px 0px 15px 0px"));
			@include responsive-key(font-size, (mobile 100%, small 140%, medium 170%));

			a {
				@include color-scheme(content-4);
			}

			label {
				display: block;
				margin-bottom: 30px;
				font-family: "Roboto Condensed";
				font-weight: 300;
				font-size: 70%;
				text-transform: uppercase;
			}

			input[type="text"], input[type="password"] {
				display: block;
				margin: auto;
				width: 90%;
				max-width: 960px;
				padding: 10px 0px;
				border: none;
				border-bottom: 1px solid rgba(0,0,0,0.25);
				background: none;
				text-align: center;
				font-family: "Roboto";
				font-weight: 300;
				font-size: 100%;
			}

			input[type="submit"], button {
				display: block;
				margin: auto;
				margin-bottom: 40px;
				width: 90%;
				max-width: 960px;
				padding: 10px 0px;
				border: none;
				border: 1px solid rgba(0,0,0,0.25);
				background: none;
				background: rgba(0,0,0,0.05);
				text-align: center;
				font-family: "Roboto";
				font-weight: 300;
				font-size: 100%;
				text-transform: uppercase;
			}

			input[type="submit"]:hover, button:hover {
				background: rgba(0,0,0,0.15);
			}

			select {
				display: block;
				margin: auto;
				width: 90%;
				max-width: 960px;
				padding: 10px 0px;
				border: none;
				border: 1px solid rgba(0,0,0,0.25);
				background: none;
				background: rgba(0,0,0,0.05);
				text-align: center;
				font-family: "Roboto";
				font-weight: 300;
				font-size: 100%;
				text-transform: uppercase;
			}

			select:hover {
				background: rgba(0,0,0,0.15);
			}
		}

		#footer {
			@include color-scheme(footer);
			padding: 25px 0px 10px 0px;
			font-family: "Roboto Condensed";
			text-align: center;
			text-transform: uppercase;

			a {
				@include color-scheme(footer);
			}

			a:hover {
				border-bottom: 1px dotted rgba(128,128,128,0.5);
			}
		}
	}
}