// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global';

// --------------------------------------------------------------------------- {{ Section: Styles }}
#welcome {
	#content {
		.content-section {
			.title {
				position: absolute;
				top: 80px;
				font-family: "Roboto Condensed";
				font-size: 400%;
				text-transform: uppercase;
				@include responsive-key(top, (mobile 30px, small 50px));
				@include responsive-key(font-size, (mobile 200%, small 250%));
				@include transition(preset-1);
			}

			.title.left {
				left: 15%;
			}

			.title.right {
				right: 15%;
			}

			.desc {
				position: absolute;
				top: 170px;
				font-size: 250%;
				@include responsive-key(top, (mobile 80px, small 110px));
				@include responsive-key(font-size, (mobile 100%, small 150%, medium 200%));
				@include transition(preset-1);
			}

			.desc.left {
				left: 20%;
			}

			.desc.right {
				right: 20%;
			}

			a:hover {
				border-bottom: 1px dotted rgba(128,128,128,0.5);
			}
		}

		.content-section.section-1 {
			@include color-scheme(content-1);
			height: 500px;
			@include responsive-key(height, (mobile 200px, small 300px));

			a {
				@include color-scheme(content-1);
			}
		}

		.content-section.section-2 {
			@include color-scheme(content-2);
			height: 500px;
			@include responsive-key(height, (mobile 200px, small 300px));

			a {
				@include color-scheme(content-2);
			}
		}

		.content-section.section-3 {
			@include color-scheme(content-3);
			height: 500px;
			@include responsive-key(height, (mobile 200px, small 300px));

			a {
				@include color-scheme(content-3);
			}
		}

		.content-section.section-4 {
			@include color-scheme(content-4);
			text-align: center;
			padding: 80px 0px 50px 0px;
			font-size: 200%;
			@include responsive-key(padding, (mobile "20px 0px 10px 0px", small "50px 0px 25px 0px"));
			@include responsive-key(font-size, (mobile 100%, small 140%, medium 170%));

			a {
				@include color-scheme(content-4);
			}
		}

		#footer {
			@include color-scheme(footer);
			padding: 25px 0px 10px 0px;
			font-family: "Roboto Condensed";
			text-align: center;
			text-transform: uppercase;

			a {
				@include color-scheme(footer);
			}

			a:hover {
				border-bottom: 1px dotted rgba(128,128,128,0.5);
			}
		}
	}
}