// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global';

// --------------------------------------------------------------------------- {{ Section: Styles }}
#welcome {
	.carousel-item {
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		opacity: 0;
		pointer-events: none;
		@include transition(preset-2);
	}

	.carousel-item.active {
		pointer-events: auto;
		opacity: 1;
	}

	.carousel-item.item1 {
		@include color-scheme(content-1);
		background: url("/images/welcome1.png") no-repeat center center;
		background-size: cover;

		.button {
			@include color-scheme(content-1);
		}
	}

	.carousel-item.item2 {
		color: rgba(0,0,0,0.6);
		background: url("/images/welcome2.png") no-repeat center center;
		background-size: cover;

		.button {
			color: rgba(0,0,0,0.6);
			border: 3px solid rgba(0,0,0,0.6);
		}
	}

	.carousel-item.item3 {
		background: url("/images/welcome3.png") no-repeat center center;
		background-size: cover;
		color: rgba(255,255,255,0.7);

		.button {
			color: rgba(255,255,255,0.7);
			border: 3px solid rgba(255,255,255,0.7);
		}
	}

	.title {
		position: absolute;
		bottom: 51%;
		left: 0;
		width: 100%;
		font-size: 70px;
		text-align: center;
		@include responsive-key(font-size, (mobile 40px, small 55px));
	}

	.desc {
		position: absolute;
		top: 51%;
		left: 0;
		width: 100%;
		font-size: 40px;
		text-align: center;
		@include responsive-key(font-size, (mobile 20px, small 30px));
	}

	.button {
		display: block;
		position: absolute;
		top: calc(50% + 70px);
		left: 50%;
		padding: 15px 40px;
		font-size: 50px;
		border-radius: 10px;
		text-transform: uppercase;
		@include transition(preset-1);
		@include responsive-key(top, (mobile "calc(50% + 50px)", small "calc(50% + 60px)"));
		@include responsive-key(font-size, (mobile 25px, small 40px));
		@include responsive-key(padding, (mobile "5px 15px", small "10px 30px"));
	}

	.button:hover {
		padding-right: 80px;
		left: calc(50% - 20px);
	}

	.button:after {
		content: ">";
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 133%;
		opacity: 0;
		@include transition(preset-1);
	}

	.button:hover:after {
		opacity: 1;
	}

	#footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 50px;
		line-height: 50px;
		@include color-scheme(footer);
		font-family: "Roboto Condensed";
		text-align: center;
		text-transform: uppercase;

		a {
			@include color-scheme(footer);
		}

		a:hover {
			border-bottom: 1px dotted rgba(128,128,128,0.75);
		}
	}
}