<h1>Applicant</h1>

<h1> List of All Scholarships: </h1>

<table border="1" frame="border" rules="all">
	  
	<tr>
		<th width="5%">No.</th>
		<th width="50%">Scholarship Title</th>
		<th width="50%">Sponsor</th>
	</tr>
	<% @scholarships.each_with_index do |x, index| %>
	<tr>
		<td><%= index+1 %></td>
		<td><%= x.title %></td>
		<td><%= @sponsors[index].institution_name %></td>
	</tr>
	<% end %>
</table>

