<div id="sponsors">
	<div id="content">
		<div class="content-section section-1" class="fullwidth">
			<div class="fixedwidth">
				<span class="title">
					Scholarships You Offer
				</span>
			</div>
		</div>
		<div class="content-section section-2" class="fullwidth">
			<div class="fixedwidth">
				<table class="scholarships">
					<tr>
						<th class="number">No.</th>
						<th class="scholarship">Scholarship Title</th>
					</tr>

					<% @scholarships.each_with_index do |x, index| %>
						<tr>
							<td class="number"><%= index+1 %></td>
							<td class="scholarship"><%= link_to x.title, view_scholarships_path(:id=>x.id), method: :get%></td>
						</tr>
					<% end %>
				</table>
				<%= link_to 'Add Scholarship', new_scholarship_path, class: "a-button" %>
			</div>
		</div>
		<div id="footer" class="fullwidth">
			<div class="fixedwidth">
				&copy; UPCSI4 Ateneo Hacks 2015
			</div>
		</div>
	</div>
</div>