<div id="welcome">
	<div id="carousel">
		<div class="carousel-item item1">
			<div class="title">
				<img src="/images/logo.svg" height="80px" style="opacity: 0.7;" />
			</div>
			<div class="desc">
				streamlining student scholarship applications
			</div>
		</div>
		<div class="carousel-item item2">
			<div class="title">
				Be a scholar
			</div>
			<div class="desc">
				find the right scholarship for you
			</div>
			<%= link_to 'Sign Up', new_applicant_path(:tag=>0),
				method: :get, class: "button" %>
		</div>
		<div class="carousel-item item3">
			<div class="title">
				Be a sponsor
			</div>
			<div class="desc">
				reach out to those in need
			</div>
			<%= link_to 'Be a Sponsor', new_sponsor_path(:tag=>1),
				method: :get, class: "button" %>
		</div>
	</div>
	<div id="footer" class="fullwidth">
		<div class="fixedwidth">
			Already a member?
			<%= link_to 'Sign in', login_accounts_path,
				method: :get %>.
		</div>
	</div>
</div>
