<h1>Index</h1>

<%= link_to 'login', login_accounts_path, method: :get %>
<%= link_to 'sign up as applicant', new_applicant_path(:tag=>0), method: :get %>
<%= link_to 'sign up as sponsor', new_sponsor_path(:tag=>1), method: :get %>