<div id="welcome">
	<div id="carousel">
		<div class="carousel-item item1">
			<div class="title">
				eskolarship
			</div>
			<div class="desc">
				streamlining student scholarship applications
			</div>
		</div>
		<div class="carousel-item item2">
			<div class="title">
				Be a scholar
			</div>
			<div class="desc">
				find the right scholarship for you
			</div>
			<%= link_to 'Sign in', login_accounts_path,
				method: :get, class: "button" %>
		</div>
		<div class="carousel-item item3">
			<div class="title">
				Be a sponsor
			</div>
			<div class="desc">
				reach out to those in need
			</div>
			<%= link_to 'Sign in', login_accounts_path,
				method: :get, class: "button" %>
		</div>
	</div>
	<div id="footer" class="fullwidth">
		<div class="fixedwidth">
			Already a member?
			<%= link_to 'Sign in', login_accounts_path,
				method: :get %>.
		</div>
	</div>
</div>
